:root {
  /** primary **/
  --ion-color-primary: #015486;
  --ion-color-primary-rgb: 1, 84, 134;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #014774;
  --ion-color-primary-tint: #0275b1;

  /** secondary **/
  --ion-color-secondary: #058FE1;
  --ion-color-secondary-rgb: 5, 143, 225;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #047fc7;
  --ion-color-secondary-tint: #059ff3;

  /** success **/
  --ion-color-success: #36B37E;
  --ion-color-success-rgb: 54, 179, 126;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #2fa26f;
  --ion-color-success-tint: #4cc58f;

  /** warning **/
  --ion-color-warning: #FFAB00;
  --ion-color-warning-rgb: 255, 171, 0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e69a00;
  --ion-color-warning-tint: #ffb81a;

  /** danger (error) **/
  --ion-color-danger: #FF5630;
  --ion-color-danger-rgb: 255, 86, 48;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #e64d2b;
  --ion-color-danger-tint: #ff6b4a;

  /** background **/
  --ion-background-color: #F8F9FA;
  --ion-background-color-rgb: 248, 249, 250;

  /** surface **/
  --ion-color-surface: #f8f9fa;

  /** text **/
  --ion-text-color: #495057;
  --ion-text-color-rgb: 73, 80, 87;
  --ion-color-dark-text: #091E42;

  /** other colors **/
  --ion-color-info: #8777D9;
  --ion-color-border: #ebedf2;
  --ion-color-gray: #434a54;
  --ion-color-gray-light: #aab2bd;
  --ion-color-gray-lighter: #e8eff4;
  --ion-color-gray-dark: #0f1531;
  --ion-color-white: #ffffff;
  --ion-color-black: #000000;
  --ion-color-blue: #5E50F9;
  --ion-color-indigo: #6610f2;
  --ion-color-purple: #6a008a;
  --ion-color-pink: #E91E63;
  --ion-color-red: #f96868;
  --ion-color-orange: #f2a654;
  --ion-color-yellow: #f6e84e;
  --ion-color-green: #46c35f;
  --ion-color-teal: #58d8a3;
  --ion-color-cyan: #57c7d4;
}

@media (prefers-color-scheme: dark) {
  body {
    --ion-background-color: #121212;
    --ion-text-color: #ffffff;
    --ion-color-border: #222222;
    --ion-item-background: #1e1e1e;
    --ion-toolbar-background: #1f1f1f;
    --ion-tab-bar-background: #1f1f1f;
    --ion-card-background: #1e1e1e;
  }
}